.property{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 220px;
    background: rgba(0,0,0,0.05);
    h1{
      font-family: "Dosis", sans-serif;
      font-size: 26px;
      font-weight: bold;
      margin: 0 0 15px;
    }
    .panel{
      width: 100%;
      display: flex;
      // border-color: #dddddd;
      margin-bottom: 20px;
      background-color: white;
      border: 1px solid #dddddd;
      // border: 1px solid transparent;
      border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
      box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    }
  }