.api{
    width: 100%;
    font-family: "Helvetica Neue", Arial, "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        text-decoration: none;
        color: #999;
    }
}