.control{
    width: 100%;
    &>div{
        margin-bottom: 20px;
    }
    .tab-bottom>div{
        width: 49%;
    }
    .tab-bottom{
        display: flex;
        justify-content: space-between;
        table{
            th:first-child,td:first-child{
                text-align: left;
                padding-left: 14px;
                
            }
            th:last-child,td:last-child{
                text-align: right;
                padding-right:40px;
            }
        }
        .tab-b-1{
            tbody{
                color: #31708f;
                td:first-child{
                    font-weight: 400;
                }
            }
        }
        .tab-b-2{
            tbody{
                td:first-child{
                    font-weight: 400;
                }
            }
        }
    }
    .table{
        width: 100%;
        border:1px solid #364450;
        border-radius: 4px;
        background: #fff;
        h1{
            color: #fff;
            background-color: #364450;
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            font-size: 14px;
        }
        .tablebox{
            width: 100%;
            padding: 14px;
        }
        table{
            width: 100%;
            color:#000;
            text-align: center;
            thead{
                th{
                    border-bottom: 2px solid #dddddd;
                    padding-bottom: 10px;
                }
                th:nth-child(4),th:nth-child(5),th:nth-child(6){
                    text-align: right;
                }
            }
            tbody{
                tr{
                    td:nth-child(1){
                        font-weight: 600;
                    }
                    td:nth-child(4),td:nth-child(5),td:nth-child(6){
                        text-align: right;
                    }
                }
                tr:last-child td{
                    border: none;
                }
                td{
                    padding: 4px 0;
                    border-bottom: 1px solid #dddddd;
                }
            }
        }
        p{
            background: whitesmoke;
            padding: 10px 15px;
            font-size: 14px;
            border-top:1px solid #dddddd;
            color: #333333;
            margin: 0;
            border-radius: 0 0 4px 4px;
            margin-top: 20px;
        }
    }
}