@mixin text66(){
    color: #777;
    line-height: 1.6;
}
.detail-deposit{
    h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .deposit-content{
        position: relative;
        padding: 60px 0 30px 0;
        background: #fff;
    }
    .split{
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eeeeee;
    }
    .deposit-history{
        border-bottom: 1px solid #ccc;
        table{
            width: 100%;
            text-align: center;
            border-top: 1px solid #ccc;
            th{
                height: 30px;
            }
            td{
                height: 30px;
                border-top: 1px solid #ccc;
            }
        }
    }
}
.deposit-content-col{
    margin-left: -5px;
    margin-right: -5px;
    display: flex;  
    margin-left:24px;
    h4{
        display: inline-block;
        margin: 0;
        width: 50px;
        height: 50px;
        border: 1px solid #DDD;
        border-radius: 50%;
        color: #E0E4E7;
        font-size: 32px;
        font-weight: normal;
        line-height: 50px;
        text-align: center;
        margin-bottom: 30px;
        flex-shrink: 0;
    }
    .col-text{
        margin-left: 24px;
        margin-bottom: 30px;
        @include text66();
    }
    .col-rightbox{
        margin-left: 24px;
        .col-rightbox-text{
            display: flex;
            span{
                margin-left: 24px;
                margin-bottom: 30px;
                @include text66();
            }
            img{
                width: 180px;
                height: 180px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
        }
    }
}
.col-rightbox-site{
    margin-top: 20px;
    .site{
        border: 1px solid #ccc;
        border-radius: 5px;
        display: flex;
        line-height: 34px;
        span{
            font-size: 14px;
            display: inline-block;
            text-align: center;
        }
        span:nth-child(1){
            width: 54px;
            background: #eee;
        }
        span:nth-child(2){
            width: 300px;
            background: #fff;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
        }
        span:nth-child(3){
            width: 44px;
            height: 100%;
            border-right: 1px solid #ccc;
            background: #eee;
        }
        span:nth-child(4){
            flex: 1;
            background: #eee;
            a{
                text-decoration: none;
                color: #1d6fa5;
            }
        }
    }
    p{
        margin-left: 24px;
        margin-top: 50px;
        @include text66();
    }
}
// 美元
.dollarup{
    .col-text{
        @include text66()
    }
    ul{
        @include text66();
        margin-left: 24px;
        margin-top: 10px;
        margin-bottom: 14px;
    }
    .text-danger{
        color: #a94442;
        margin-bottom: 10px;
    }
    .form-cont{
        
        .submit{
            margin: 20px 0 40px 260px;
            width: 70px;
            height: 30px;
            border-radius: 4px;
            color: white;
            background-color: #364450;
            border-color: #2c3741;
        }
    }
}
// 美元表单
.dollarup-form{
    border: 1px solid #ccc;
    display: flex;
    height: 200px;
    margin-top: 25px;
    .linkman{
        height: 100%;
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        line-height: 20px;
        display: block;
        padding:60px 8px;
        width: 30px;
        vertical-align: middle;
    }
    &>span:nth-child(3){
        border-left: 1px solid #ccc;
    }
    .sam{
        display: flex;
        padding: 10px;
        flex-direction: column;
        width: 250px;
        .sam-col{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            label{
                display: block;
                font-size: 13px;
                display: flex;
                span{
                    display: block;
                    flex: 1;
                }
                a{
                    color: #1d6fa5;
                    text-decoration: none;
                }
            }
            b{
                display: flex;
                font-size: 16px;
                font-weight: bold;
                padding-top: 10px;
                span{
                    flex: 1;
                }
            }
        }
    }
}