.googleauth{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 240px;
    background: rgba(0,0,0,0.05);
    a{
        color: #1d6fa5;
    }
}
.googleauth-box{
    width: 100%;
    background-color: white;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
// googleauth header
.googleauth-header{
    width: 100%;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
    background: rgba(0,0,0,0.05);
    h2{
        width: 100%;
        height: 38px;
        font-size: 16px;
    }
}
// googleauth setails
.googleauth-details{
    display: flex;
    width: 100%;
}
.googleauth-left{
    width: 35%;
    box-sizing: border-box;
    border-right: 1px solid #ccc;
    padding: 30px;
    .fa{
        margin-right: 4px;
    }
    h4{
        font-size: 24px;
        margin-bottom: 10px;
    }
}
.googleauth-right{
    width: 65%;
    padding: 30px 20px;
}
.googleauth-right-item{
    .item-cont{
        .item-cont-col{
            b{
                display: inline-block;
                width: 40%;
            }
        }
    }
}